/*
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400);
*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
}

body {
  background-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

.banner {
  position: fixed;
  background-color: #FFBD15;
  padding: 10px;
  height: 80px;
  width: 300px;
  border-top-right-radius: 3px;
  z-index: 10;
}

.banner__avatar {
  background-image: url('../img/puppy.jpg');  
  width: 60px;
  height: 60px;
  margin-top: 2px;
  margin-left: 5px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 2px solid #FF8D15;
  float: left;
}

.banner__username {
  width: 200px;
  float: left;
  margin: 10px 0 2px 12px;
  color: #DD8D15;
  font: bold 14px 'Arial';
}

.banner__message {
  float: left;
  font: normal 16px 'Arial';
  margin-top: 6px;
  margin-left: 12px;
  text-decoration: none;
}

.banner__message a {
  color: #444;
  font-weight: 400;
  /*text-shadow: 1px 1px 1px #CC7715;*/
}

#panel {
  position: fixed;
  background-color: #444;
  width: 300px;
  height: 100%;
  box-shadow: inset -10px 0 10px -5px #333;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#history {
  margin: 120px 10px;
  padding: 0;
  height: 82%;
  overflow: hidden;
  text-align: center;
  list-style: none;
}

.word {
  color: #ddd;
  font-size: 1em;
  font-family: 'Droid Sans Mono', 'Arial';
  width: 240px;
  margin: 0 20px 15px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px #111;
  cursor: pointer;
}

.word:hover {
  color: #fff;
  font-weight: bold;
}

.word:active {
  padding-left: 1px;
}

.word--muted {
  color: gray;
  text-shadow: 1px 1px #333;
}

.word--muted:hover {
  color: gray;
}

#backdrop {
  position: fixed;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.05s;
  background-color: #FFBD15;
}

#stage {
  margin-top: 170px;
  margin-left: 390px;
  white-space: nowrap;
}

#sentence {
  padding-left: 20px;
  padding-bottom: 70px;
}

#translation {
  padding-left: 20px;
  margin-top: 1em;
  font-size: 1.2em;
  font-family: 'Droid Sans Mono';
  color: #ccc;
}

@keyframes fade-in { 
  0% { opacity: 0; }
  30% { opacity: 1; }
}

.character.caret {
  background-color: #FFBD15;
  animation: fade-in 1.4s infinite alternate;
}

.blink {
  animation: fade-in 1.4s infinite alternate;
}

.character {
  display: inline-block;
  color: transparent;
  background-color: #f8f8f8;
  min-width: 22px;
  min-height: 33px;
  line-height: 32px;
  margin: 0px 1px 25px 1px;
  padding-top: 2px;
  padding-bottom: 0px;
  border-bottom: 3px #444 solid;
  border-radius: 3px;
  font-size: 2em;
  font-family: "Droid Sans Mono", Serif;
  text-align: center;
  vertical-align: text-bottom;
}

.apparent {
  color: #000;
  background-color: transparent;
  border-bottom-color: transparent;
}

hr {
  border: none;
  height: 1px;
  width: 870px;
  margin-left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.hint {
  position: fixed;
  top: 57px;
  left: 413px;
  padding: 0;
  opacity: 0;
  transition: opacity 1s;
}

.hint__letter {
  display: inline-block;
  vertical-align: -4%;
  margin-right: 20px;
  color: #aaa;
  font-size: 2em;
  font-family: "Droid Sans Mono", Serif;
}

.hint__key {
  display: inline-block;
  text-align: center;
  width: 44px;
  height: 41px;
  margin: 10px;
  background: #eee;
  border-radius: 4px;
  border-top: 1px solid #eee;
  box-shadow: 
    inset 0 0 25px #eee,
    0 1px 0 #ccc,
    0 1px 3px #555;
 }

.hint__key span {
  display: block;
  margin: 3px;
  color: #777;
  font: normal 12px 'Arial';
  text-shadow: 0px 0px 0.2px gray;
}

span.lower {
  margin: 5px 0 0 0;
}

span.raise {
  margin: 1px 0 5px 0;
}
