/*@import url(http://fonts.googleapis.com/css?family=Vollkorn:400);*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

.container {
  margin-top: 10%;
  margin-left: 10%;
}

.avatar {

  margin: 10px 10px 10px 20px;

  background-image: url('../img/puppy.jpg');
  
  /* make a square container */
  width: 60px;
  height: 60px;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;

  border: 2px solid #FF8D15;

  float: left;
}

.panel {
  /* #FFCC66 */
  position: fixed;
  background-color: #FFBD15;
  margin: 0px 10px 10px -5px;
  padding: 10px 10px 10px 10px;
  height: 85px;
  width: 300px;
  border-radius: 5px;
}

.long-panel {
  position: fixed;
  margin-top: -20px;
  background-color: #444;
  width: 305px;
  height: 800px;
  border-right: 2px solid #555;
}

body {
  margin: 0;
}

.t {
  width: 200px;
  font-weight: bold;
  float: left;
  margin-top: 17px;
  margin-left: 10px;
  font-family: 'Arial';
  color: #DD8D15;
  font-size: 80%
}

.login {
  float: left;
  font-family: Arial, sans-serif;
  margin-top: -6px;
  margin-left: 10px;
}

.login a {
  text-decoration: none;
  color: #444;
  /*text-shadow: 1px 1px 1px #CC7715;*/
  font-weight: 400;
}

.login a:hover {
  text-decoration: underline;
}


*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #warning {
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
}

#warning {
  left: 0;
  top: 0;
  opacity: 0;
  background-color: #FFC2D6;
}

body {
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

hr {
  /*clear: both;*/
}

.container {
/*  margin: 20% auto;*/
/*  max-width: 900px;
  min-width: 890px;*/
  margin-left: 350px;
  width: 70%;
}

#sentence {
  padding-left: 20px;
  padding-bottom: 70px;
}

#translation {
  padding-left: 20px;
  margin-top: 1em;
  font-size: 1.2em;
  font-family: 'Arial';
  color: #ccc;
}

.line {
  clear:both;
}

.current.current {
  background-color: #FFB84D;
}

.character {
  display: inline-block;
  color: transparent;
  background-color: #f8f8f8;
  min-width: 22px;
  min-height: 33px;
  line-height: 32px;
  margin: 0px 1px 25px 1px;
  padding-top: 2px;
  padding-bottom: 0px;
  border-bottom: 3px #000 solid;
  border-radius: 3px;
  font-size: 2em;
  font-family: "Droid Sans Mono", Serif;
  text-align: center;
  vertical-align: text-bottom;
}

.shown {
  color: #000;
  background-color: transparent;
  border-bottom: 3px transparent solid;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}